
body{
    background-color: #F3F5FC;
    font-family: 'Inter';
}

main{
    width: auto;
    height: auto;
}

.logo{
    position: absolute;
    width: 120px;
    height: 48px;
    margin: 40px;
}

#error{
position: absolute;
left: 15%;
top: 10%;
color: red;
font-size: 13px;
width: 40%;
}

#texto-ingresado{
    position: absolute;
    top: 15%;
    left: 15%;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    background: none;
    color: #0A3871;
    outline: none;
}

#texto-ingresado::placeholder{
color: #0a3871a1;
}


.contenedor-texto-resultado{
    position: absolute;
    left: 68%;
    top: 4%;
    background-color: white;
    width: 30%;
    height: 90%;
    border-radius: 32px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.185);
}
.contenedor-texto-resultado h3{
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin: 10px 20px;
    color: #495057;
}

.contenedor-texto-resultado p{
    font-size: 90%;
    color: #495057;
    margin: 15px 30px;
}

#texto-resultado{
    position: relative;
    bottom: 15%;
    padding: 6%;
    margin: 0px auto;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    background: none;
    color: #0A3871;
    outline: none;
}

.invisible{
    display: none;
}
.muñeco{
    width: 90%;
    margin: 10px auto;

}


.icon-exclamation {
    font-size: 85%;
    margin: 8px 0px;
    color: #495057;
}

.icon-exclamation img{
    margin-right: 5px;
    
}

.botones{
    position: absolute;
    bottom: 17%;
    left: 15%;
    width: 50%;
    height: 10%;
}

#btn-encriptar, #btn-desencriptar, #btn-copiar{
    width: 40%;
    height: 95%;
    border-radius: 24px;
    margin: 0px 5px;
    background-color: #0A3871;
    font-size: 16px;
    color: white;
    border: 1px solid #0A3871 ;
}

button:hover{
    cursor: pointer;
}

#btn-desencriptar, #btn-copiar{
    background-color: #D8DFE8;
    color: #0A3871;
}

#btn-copiar{
    width: 60%;
    height: 10%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 8%;
    margin: 0 auto;
}

#pegar{
    position: absolute;
    top: 95%;
    left: 0%;
    right: 0%;
    font-size: 78%;
    margin: 0 auto;
    padding: 0 6%;
}

footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin-bottom: 0%;
    background-color: #113f773d;
    color: #0A3871;
    padding: 6px;
    text-align: center;
    font-size: 11px;
<<<<<<< HEAD
=======
    font-family: 'Inter';
    position: absolute;
    width: 100%;
>>>>>>> 9283e39b70c5390184257a1acd13f6723a9a2c04
} 